.page1{
  background-image:url("https://images.unsplash.com/photo-1498049860654-af1a5c566876?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: No-repeat;
  margin-top: 5px;
  height: 700px;
  background-attachment: fixed;
     }
.page2{
  background-image:url("https://images.unsplash.com/photo-1507646278763-8b57d6bf6369?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: No-repeat;
  height: auto;
  min-height: 700px;
  margin-top: 0px;
  background-attachment: fixed;    
  }
.page3{
  background-image:url("https://images.unsplash.com/photo-1505835045737-a37cf2e93876?auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: No-repeat;
  height: auto;
  min-height: 700px;
  margin-top: 0px;
  background-attachment: fixed;    
  }
.page4{
  background-image:url("https://images.unsplash.com/photo-1501228286853-24fd91e2c0c4?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: No-repeat;
  height: auto;
  margin-top: 0px;
  background-attachment: fixed;    
  }
.btn-primary{
  margin:5px 5px 5px 5px;
  font-family: monospace;
  padding: 3px;
  background-color: #4e7097;
  }
body{
  background-color: Silver;
  font-family: lobster;
  }
h1{
  color:#4e7097;
  font-size: 33px;  
  text-shadow: .5px .5px white;  
}
h3{
  font-family: Monospace;
  font-size: 14px;
  font-weight:bold;
  color:white;
  background-color: #3a536f;
  opacity: 0.7;
  padding: 4px;
  max-width:450px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 2px;
  
  }
li{
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px white;
  font-family: calibri;
  
}
#responsive{
  width: 30%;
  height: 30%;
  Max-width: 250px;
  Max-height: 250px;
  margin-top: 18%;
  margin-left: 18%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}
#pwell{
  height: 150px;
  max-width: 225px;
  overflow: hidden;
  border-radius: 8px;
  margin: auto;
}

